<footer>
  <form action="https://getsimpleform.com/messages?form_api_token=73c4a8ab500a7480d1055e437f79837d" method="post">
    <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
    <input type='hidden' name='redirect_to' value='https://thisdigitallife.github.io/ontwofeet/thankyou/' />
    <!-- all your input fields here.... -->
    <label> Enter your email to subscribe to our blog:</label>
    <input type='text' name='email' placeholder="Your email address"/>
    <input type='submit' value='Subscribe' />
  </form>
</footer>
<footer>
	 <p>Happy Backpacking!</p>  
</footer>
