/*- Custom style -*/

// -- Put custom style under this point -- //
.icon-facebook { color: blue; }  
.icon-instagram { color: blue; }  
.icon-website { color: blue; }  
.icon-contactus { color: blue; }  
.icon-travelplans { color: blue; }  
.icon-facebook { color: blue; }  
.icon-facebook { color: blue; }  
