/*- Custom style -*/

// -- Put custom style under this point -- //
 .icon-facebook { color: blue; }  
 .icon-instagram { color: blue; }  
 .icon-website { color: blue; }  
 .icon-contactus { color: blue; }  
 .icon-travelplans { color: blue; }  
 .icon-treks { color: blue; }  
 .icon-gear { color: blue; }  
 .icon-impressions { color: blue; }  
 .centertext { text-align: center; }
 
 .float-left {
 	display: block;
 	float: left;
 }
 
 .clear-right {
 	clear: right;
 }
 
 .comment-block:before {
 	content: "\00a0";
 }

 
 .comment-block {
    color: #008A3C;
 }
