/*- Custom style -*/

// -- Put custom style under this point -- //
 .icon-facebook { color: blue; }  
 .icon-instagram { color: blue; }  
 .icon-website { color: blue; }  
 .icon-contactus { color: blue; }  
 .icon-travelplans { color: blue; }  
 .icon-treks { color: blue; }  
 .icon-gear { color: blue; }  
 .icon-impressions { color: blue; }  
 .centertext { text-align: center; }
